<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Artista</title>
<link rel="stylesheet" href="/css/artista.css">
</head>
<body>

	<div class="header-links">
		<a href="/">Home</a> 
		<a href="/login">Login</a>
	</div>

<main>
		<h1 th:text="${artista.nome}">Nome artista</h1>

		<div class="artista-info">
			<div class="info-item">
				<label>Cognome: <span th:text="${artista.cognome}">cognome</span></label>
			</div>
			<div class="info-item">
				<label>Citta: <span th:text="${artista.citta}">citta</span></label>
			</div>
			<div class="info-item">
				<label>Data di nascita: <span th:text="${artista.dataDiNascita}">data di nascita</span></label>
			</div>
			<div class="info-item">
				<label>data di morte: <span th:text="${artista.dataDiMorte}">data di morte</span></label>
			</div>
			
			
		</div>


		<img th:src="'data:image/jpeg;base64,' + ${artista.immagine}"
			alt="Immagine artista">


		<div class="no-artista" th:unless="${artista}">Non esiste</div>
	</main>


</body>
</html>