<!DOCTYPE html>
<html>

<head>
	<title>
		SiwPinacoteca - Homepage
	</title>
	<link rel="stylesheet" href="/css/base.css" />
	
</head>

<body>
<header>
	
	  <div class="header-links3">
            <a href="paginaOpere">Le opere</a>
            <a href="paginaArtisti">Gli artisti</a>
            <a href="formRegistrazione">Registrazione</a>
            <a href="/login">Login</a>
        </div>
	
	</header>
	
	<div class="titolo">
  <h1> Siw Pinacoteca  </h1>
 <p> Benvenuti nella nostra Pinacoteca,scopri l'arte attraverso i secoli in un ambiente ricco di storia e cultura. 
 La nostra pinacoteca ospita una vasta collezione di opere d'arte che spaziano dal Medioevo alla contemporaneità.
  Esplora dipinti, sculture e opere rare, con esposizioni temporanee e mostre permanenti che celebrano la bellezza e la creatività umana. 
 Visita il nostro sito per scoprire le opere che rendono unica la nostra collezione.
 </p>

</div>

<div class="centered-photo">
            <img src="immagini/homepage.jpg" alt="Descrizione della foto">
            
        </div>


        
    
		
</body>
</html>
