<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Opere</title>
<link rel="stylesheet" href="/css/adminIndex.css" />
</head>
<body>

	<header>
	
	
	  <div class="header-links">
           <a href="paginaOpere">Opere</a>
           
           <a href="paginaArtisti">Artisti</a>
            <a href="/logout">Logout</a>
        </div>
	
	</header>
	
         <section class="quadrant" id="quadrant1">
        <a href="/admin/profiloOpera" class="image-link">
            <span class="image-text">Profilo Opera</span>
        </a>
    </section>

    <section class="quadrant" id="quadrant2">
        <a href="/admin/profiloArtista" class="image-link">
            <span class="image-text">profilo Artista</span>
        </a>
    </section>
    
     <section class="quadrant" id="quadrant3">
<!--         <a href="/admin/paginaCuratori" class="image-link"> -->
            <span class="image-text"><h1>Sale della collezione:</h1>
           <p> Sala Antica(Curatore: Antonio rossi)<p/>
            <p> Sala Moderna(Curatore: Marco verdi)<p> 
            
            </span>
        </a>
    </section>
    
    <section class="quadrant" id="quadrant4">
<!--         <a href="paginaAziende" class="image-link"> -->
            <span class="image-text">"Non dipingo quello che vedo,dipingo quello che provo"(Edvard Munch)</span>
        </a>
    </section>

   
            
        </div>

</body>
</html>